.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    margin-bottom: 2rem;
    color: white;
  }
  
  h1 {
    font-size: 70px;
  }
  
  .minmax {
    display: flex;
    align-items: center;
  }
  
  .low {
    margin-right: 20px;
  }
  